nav{
    background-color:black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li{
    display: inline;
    list-style-type: none;
    padding-left: 30px;
    

}
.a{
    color: white;
    font-weight: bold;
    text-decoration: none;

}